<div id="<%= dom_id char_sheet %>">
  <p>
    <strong>Player name:</strong>
    <%= char_sheet.player_name %>
  </p>

  <p>
    <strong>Char name:</strong>
    <%= char_sheet.char_name %>
  </p>

  <p>
    <strong>Race:</strong>
    <%= char_sheet.race %>
  </p>

  <p>
    <strong>Class:</strong>
    <%= char_sheet.class %>
  </p>

  <p>
    <strong>Level:</strong>
    <%= char_sheet.level %>
  </p>

  <p>
    <strong>Background:</strong>
    <%= char_sheet.background %>
  </p>

  <p>
    <strong>Proficiency bonus:</strong>
    <%= char_sheet.proficiency_bonus %>
  </p>

  <p>
    <strong>Max hp:</strong>
    <%= char_sheet.max_hp %>
  </p>

  <p>
    <strong>Current hp:</strong>
    <%= char_sheet.current_hp %>
  </p>

  <p>
    <strong>Temp hp:</strong>
    <%= char_sheet.temp_hp %>
  </p>

  <p>
    <strong>Armour class:</strong>
    <%= char_sheet.armour_class %>
  </p>

  <p>
    <strong>Initiative:</strong>
    <%= char_sheet.initiative %>
  </p>

  <p>
    <strong>Strength:</strong>
    <%= char_sheet.strength %>
  </p>

  <p>
    <strong>Dexterity:</strong>
    <%= char_sheet.dexterity %>
  </p>

  <p>
    <strong>Constitution:</strong>
    <%= char_sheet.constitution %>
  </p>

  <p>
    <strong>Intelligence:</strong>
    <%= char_sheet.intelligence %>
  </p>

  <p>
    <strong>Wisdom:</strong>
    <%= char_sheet.wisdom %>
  </p>

  <p>
    <strong>Charisma:</strong>
    <%= char_sheet.charisma %>
  </p>

</div>
