<div id="<%= dom_id char_sheet %>">
  <p>
    <strong>Player name:</strong>
    <%= char_sheet.player_name %>
  </p>

  <p>
    <strong>Char name:</strong>
    <%= char_sheet.char_name %>
  </p>

  <p>
    <strong>Race:</strong>
    <%= char_sheet.race %>
  </p>

  <p>
    <strong>Character class:</strong>
    <%= char_sheet.character_class %>
  </p>

  <p>
    <strong>Level:</strong>
    <%= char_sheet.level %>
  </p>

  <p>
    <strong>Background:</strong>
    <%= char_sheet.background %>
  </p>

  <p>
    <strong>Proficiency bonus:</strong>
    <%= char_sheet.proficiency_bonus %>
  </p>

  <p>
    <strong>Max hp:</strong>
    <%= char_sheet.max_hp %>
  </p>

  <p>
    <strong>Current hp:</strong>
    <%= char_sheet.current_hp %>
  </p>

  <p>
    <strong>Temp hp:</strong>
    <%= char_sheet.temp_hp %>
  </p>

  <p>
    <strong>Armour class:</strong>
    <%= char_sheet.armour_class %>
  </p>

  <p>
    <strong>Initiative:</strong>
    <%= char_sheet.initiative %>
  </p>

  <p>
    <strong>Strength:</strong>
    <%= char_sheet.strength %>
  </p>

  <p>
    <strong>Dexterity:</strong>
    <%= char_sheet.dexterity %>
  </p>

  <p>
    <strong>Constitution:</strong>
    <%= char_sheet.constitution %>
  </p>

  <p>
    <strong>Intelligence:</strong>
    <%= char_sheet.intelligence %>
  </p>

  <p>
    <strong>Wisdom:</strong>
    <%= char_sheet.wisdom %>
  </p>

  <p>
    <strong>Charisma:</strong>
    <%= char_sheet.charisma %>
  </p>

  <p>
    <strong>Passive perception:</strong>
    <%= char_sheet.passive_perception %>
  </p>

  <p>
    <strong>Speed:</strong>
    <%= char_sheet.speed %>
  </p>

  <p>
    <strong>Hit dice:</strong>
    <%= char_sheet.hit_dice %>
  </p>

  <p>
    <strong>Death save success:</strong>
    <%= char_sheet.death_save_success %>
  </p>

  <p>
    <strong>Death save failure:</strong>
    <%= char_sheet.death_save_failure %>
  </p>

  <p>
    <strong>Weapons:</strong>
    <%= char_sheet.weapons %>
  </p>

  <p>
    <strong>Equipment:</strong>
    <%= char_sheet.equipment %>
  </p>

  <p>
    <strong>Personality:</strong>
    <%= char_sheet.personality %>
  </p>

  <p>
    <strong>Ideals:</strong>
    <%= char_sheet.ideals %>
  </p>

  <p>
    <strong>Bonds:</strong>
    <%= char_sheet.bonds %>
  </p>

  <p>
    <strong>Flaws:</strong>
    <%= char_sheet.flaws %>
  </p>

  <p>
    <strong>Features:</strong>
    <%= char_sheet.features %>
  </p>

  <p>
    <strong>Gold:</strong>
    <%= char_sheet.gold %>
  </p>

  <p>
    <strong>Silver:</strong>
    <%= char_sheet.silver %>
  </p>

  <p>
    <strong>Copper:</strong>
    <%= char_sheet.copper %>
  </p>

  <p>
    <strong>Platinum:</strong>
    <%= char_sheet.platinum %>
  </p>

  <p>
    <strong>Spells:</strong>
    <%= char_sheet.spells %>
  </p>

</div>
