
<%= simple_form_for(@char_sheet) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :player_name %>
    <%= f.input :char_name %>
    <%= f.input :race %>
    <%= f.input :character_class %>
    <%= f.input :level %>
    <%= f.input :background %>
    <%= f.input :proficiency_bonus %>
    <%= f.input :max_hp %>
    <%= f.input :current_hp %>
    <%= f.input :temp_hp %>
    <%= f.input :armour_class %>
    <%= f.input :initiative %>
    <%= f.input :strength %>
    <%= f.input :dexterity %>
    <%= f.input :constitution %>
    <%= f.input :intelligence %>
    <%= f.input :wisdom %>
    <%= f.input :charisma %>
    <%= f.input :passive_perception %>
    <%= f.input :speed %>
    <%= f.input :hit_dice %>
    <%= f.input :death_save_success %>
    <%= f.input :death_save_failure %>
    <%= f.input :weapons %>
    <%= f.input :equipment %>
    <%= f.input :personality %>
    <%= f.input :ideals %>
    <%= f.input :bonds %>
    <%= f.input :flaws %>
    <%= f.input :features %>
    <%= f.input :gold %>
    <%= f.input :silver %>
    <%= f.input :copper %>
    <%= f.input :platinum %>
    <%= f.input :spells %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
