
<%= simple_form_for(@char_sheet) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :player_name %>
    <%= f.input :char_name %>
    <%= f.input :race %>
    <%= f.input :class %>
    <%= f.input :level %>
    <%= f.input :background %>
    <%= f.input :proficiency_bonus %>
    <%= f.input :max_hp %>
    <%= f.input :current_hp %>
    <%= f.input :temp_hp %>
    <%= f.input :armour_class %>
    <%= f.input :initiative %>
    <%= f.input :strength %>
    <%= f.input :dexterity %>
    <%= f.input :constitution %>
    <%= f.input :intelligence %>
    <%= f.input :wisdom %>
    <%= f.input :charisma %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
