<%# app/views/quotes/show.html.erb %>

<main class='container'>
  <%= link_to sanitize('&larr; Back to your Characters'), char_sheets_path %>
  <div class='header'>
    <h1>
      <%= @char_sheet.meta_info['char_name'] %>
    </h1>
  </div>
  <body>
  <div class='meta-info'>
    <h1>Meta Info</h1>
    <%=OpenStruct.new(@char_sheet.meta_info) do |ff| %>
      <%= ff['player_name'] %>
      <%= ff['char_name'] %>
      <%= ff['race'] %>
      <%= ff['character_class'] %>
      <%= ff['level'] %>
      <%= ff['background'] %>
      <%= ff['proficiency_bonus'] %>
    <% end %>
  </div>

  <div class='ability-scores'>
    <h1>Ability Scores</h1>
    <%=OpenStruct.new(@char_sheet.ability_scores) do |ff| %>
      <%= ff['strength'] %>
      <%= ff['dexterity'] %>
      <%= ff['constitution'] %>
      <%= ff['intelligence'] %>
      <%= ff['wisdom'] %>
      <%= ff['charisma'] %>
      <%= ff['passive_perception'] %>
    <% end %>
  </div>

  <div class='combat'>
    <h1>Combat</h1>
    <%=OpenStruct.new(@char_sheet.combat) do |ff| %>
      <%= ff['max_hp'] %>
      <%= ff['current_hp'] %>
      <%= ff['temp_hp'] %>
      <%= ff['armour_class'] %>
      <%= ff['initiative'] %>
      <%= ff['speed'] %>
      <%= ff['hit_dice'] %>
      <%= ff['death_save_success'] %>
      <%= ff['death_save_failure'] %>
    <% end %>
  </div>

  <div class='equipment'>
    <h1>Equipment</h1>
    <%=OpenStruct.new(@char_sheet.equipment) do |ff| %>
      <%= ff['weapons'] %>
      <%= ff['equipment'] %>
      <%= ff['platinum'] %>
      <%= ff['gold'] %>
      <%= ff['silver'] %>
      <%= ff['copper'] %>
    <% end %>
  </div>

  <div class='features'>
    <h1>Features</h1>
    <%=OpenStruct.new(@char_sheet.features) do |ff| %>
      <%= ff['features'] %>
      <%= ff['spells'] %>
    <% end %>
  </div>

  <div class='backstory'>
    <h1>Backstory</h1>
    <%=OpenStruct.new(@char_sheet.backstory) do |ff| %>
      <%= ff['personality'] %>
      <%= ff['ideals'] %>
      <%= ff['bonds'] %>
      <%= ff['flaws'] %>
    <% end %>
  </div>
  </body>
</main>