<%# app/views/quotes/show.html.erb %>

<main class="container">
  <%= link_to sanitize("&larr; Back to your Characters"), char_sheets_path %>
  <div class="header">
    <h1>
      <%= @char_sheet.char_name %>
    </h1>
      <%= @char_sheet.player_name %>
      <%= @char_sheet.race %>
      <%= @char_sheet.character_class %>
      <%= @char_sheet.level %>
      <%= @char_sheet.background %>
      <%= @char_sheet.proficiency_bonus %>
      <%= @char_sheet.max_hp %>
      <%= @char_sheet.current_hp %>
      <%= @char_sheet.temp_hp %>
      <%= @char_sheet.armour_class %>
      <%= @char_sheet.initiative %>
      <%= @char_sheet.strength %>
      <%= @char_sheet.dexterity %>
      <%= @char_sheet.constitution %>
      <%= @char_sheet.intelligence %>
      <%= @char_sheet.wisdom %>
      <%= @char_sheet.charisma %>
      <%= @char_sheet.passive_perception %>
      <%= @char_sheet.speed %>
      <%= @char_sheet.hit_dice %>
      <%= @char_sheet.death_save_success %>
      <%= @char_sheet.death_save_failure %>
      <%= @char_sheet.weapons %>
      <%= @char_sheet.equipment %>
      <%= @char_sheet.personality %>
      <%= @char_sheet.ideals %>
      <%= @char_sheet.bonds %>
      <%= @char_sheet.flaws %>
      <%= @char_sheet.features %>
      <%= @char_sheet.gold %>
      <%= @char_sheet.silver %>
      <%= @char_sheet.copper %>
      <%= @char_sheet.platinum %>
      <%= @char_sheet.spells %>

    </h1>
  </div>
</main>